<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
# [NC] is a case-insensitive match
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www.play-fortuna.github.io$ [NC]
RewriteRule ^(.*)$ https://play-fortuna.github.io/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://play-fortuna.github.io/ [R=301,L]

FileETag None

<Files *.js.gz>
  AddType "text/javascript" .gz
  AddEncoding gzip .gz
</Files>
<Files *.css.gz>
  AddType "text/css" .gz
  AddEncoding gzip .gz
</Files>

<Files *.js.br>
  AddType "text/javascript" .br
  AddEncoding br .br
</Files>
<Files *.css.br>
  AddType "text/css" .br
  AddEncoding br .br
</Files>


RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [L]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]


</IfModule>

AddHandler application/x-httpd-php .php .html .htm
Redirect 302 /login https://gamblingcraft.com/ru/signup?ref_id=MTO4QTM
Redirect 301 /beha https://www.behance.net/gallery/90965805/video-sloty

# BEGIN Hide My Links
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{HTTP_USER_AGENT} ".*SemrushBot.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*AhrefsBot.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*MJ12bot.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*Riddler.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*LinkpadBot.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*MegaIndex\\.ru/2\\.0.*" [OR]
	RewriteCond %{HTTP_USER_AGENT} ".*Serpstatbot.*"
	RewriteRule ".*" "-" [F]
</IfModule>
# END Hide My Links